<!-- ここにおけるヘルパーとはHTMLにおける特定のタグを生成するのを助けるものである-->
<h1>投稿一覧</h1>
<% @lists.each do |list| %>

  <p>タイトル</p>
  <!-- list.[カラム名]と記述することで、レコードのカラムの内容を表示できます -->
  <span>
    <%= link_to list.title, list_path(list.id) %>
  </span>

  <%= list.title %>

  <p>画像</p>
  <% if list.image.attached? %>
    <%= image_tag list.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

<% end %>